
.nav {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50px;
    background: rgba(255, 255, 255, 0.55);
    cursor: pointer;
}

.logo {
    position: absolute;
    left: 40px;
    top: 10px;
    display: flex;
    align-items: center;
    height: 40px;
    cursor: pointer;
}

    .logo img {
        height: 300%;
        width: auto;
        display: block;
        cursor: pointer;
    }

.menu {
    position: absolute;
    right: 40px;
    top: 18px;
}

    .menu span {
        margin-left: 28px;
        font-size: 14px;
        color: #6e5b54;
    }


/* Footer Styles */

.main-footer {
    background: #ddd8d8;
    padding: 40px 60px 20px;
    font-family: "Fanwood Text";
}

.footer-content {
    display: grid;
    grid-template-columns: 1.2fr 1fr 1.2fr 1fr;
    gap: 40px;
    margin-bottom: 25px;
    align-items: flex-start;
}

.footer-logo img {
    margin-bottom: 30px;
    cursor: pointer;
}

.footer-col h4 {
    margin-bottom: 12px;
    color: #444;
}

.footer-col p {
    margin: 6px 0;
    font-size: 14px;
    color: #5A5B5E;
    cursor: pointer;
}

.footer-bottom {
    border-top: 1px solid #bcbcbc;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    color: #5A5B5E;
    cursor: pointer;
}

.social-icons {
    display: flex;
    gap: 20px;
    font-size: 1.2rem;
    color: black;
}

@media (max-width: 900px) {
    .footer-content {
        grid-template-columns: 1fr;
        gap: 25px;
    }

    .footer-bottom {
        flex-direction: row;
        gap: 20px;
        text-align: center;
    }
}
