<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link rel="stylesheet" href="~/css/About.css">
</head>
<body>

    <section class="about-section">

        <div class="about-text">
            <p>
                Founded by visionary IIT alumni, Solarix is a leader in advanced
                solar technology. Our mission is to empower every corner of India
                with reliable, energy-efficient, and eco-friendly solutions.
                Built on innovation, transparency, and unmatched quality, we
                have set benchmarks in the solar industry.
            </p>
        </div>

        <div class="about-images">
            <img src="/image/about1.jpg" class="img1">
            <img src="/image/about2.jpg" class="img2">
        </div>

    </section>
   

    <script src="about.js"></script>
</body>
</html>